[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpretty = "*"
mypy = "*"
pytest = "*"
pytest-randomly = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-flake8 = "*"
mccabe = "*"
pytest-mypy = "*"

[packages]

[requires]
python_version = "3.7"
